.div1{
     display: flex;
     flex-direction: column;
     height:100%;
}
.headInfo{
    text-align: left;
    vertical-align: middle;
    height: 50px;

}
.breadcrumb{
    height:20px;
    margin-left: 110px;
   
}
.breadcrumb span{
    color: white;
}
.headImg{
     margin-top: -15px;
     box-shadow: 1px 1px 4px 1px gray;
}
.spanName{
    margin-left: 50px;
    font-size: 28px;
    font-weight: bolder;
}