.btnclose{
    border: 1px solid #eee;
    border-radius: 14px;
    height: 26px;
    width: 26px;
    background-color: red;
    color: white;
}
.li:hover{
    background-color: white;
}
.li:hover{
    background-color: orange;
}