.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.appDiv1{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.appDiv1>div{
  width: 350px;
}

.flex_j_start {
  justify-content: flex-start !important;
 }
  /* 从右排列 */
 .flex_j_end {
  justify-content: flex-end !important;
 }
 
 /* 处于x轴上方方向位置 */
 .flex_a_start {
  align-items: flex-start !important;
 }
 
 /* 处于x轴下方方向位置 */
 .flex_a_end {
  align-items: flex-end !important;
 }

 

 